body {
  background: #eee;
}
.btn {
  display: inline-block;
  color: #fff;
  background: #0081cf;
  outline: none;
  border: none;
  padding: 1px 10px;
  border-radius: 3px;
  margin: 10px 0;
}

.container {
  width: 400px;
  /* height: 100px; */
  border: #ddd 1px solid;
  margin: 100px auto;
  text-align: center;
  background: #fff;
  padding: 25px;
  box-sizing: border-box;
  border-radius: 10px;
}

.msgBox {
  display: block;
  color: #0081cf;
}
.reference-text {
  width: 100%;
}
label {
  width: 100%;
  display: inline-block;
}
textarea {
  width: 100%;
  border: 1px #ddd solid;
  height: 100px;
}
input {
  border: 1px #ddd solid;
}
